<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ipu_trekker.ggsipu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IPU Trekker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.ipu_trekker.ggsipu.CollegeActivity"
            android:label="Colleges"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.HomeActivity" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.StreamActivity"
            android:label="Streams"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.HomeActivity" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.College"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.CollegeActivity" />


        <activity
            android:name="com.example.ipu_trekker.ggsipu.UniversityActivity"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.HomeActivity" />



        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.StreamMenuActivity"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.StreamActivity" />


        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.RESULT_PDF"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.RESULT_PDF"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.RESULT_PDF_EEnMEnMT"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.RESULT_PDF_EEnMEnMT"
            />


        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM8_MAEnICE" />


        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.ZCodes"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.StreamActivity"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.ZChooseSemForSyllabus"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.ZChooseSemForSyllabus"
            />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.example.ipu_trekker.ggsipu.Splash" />


        <activity
            android:name="com.example.ipu_trekker.ggsipu.HomeActivity"
            android:label="IPU Trekker"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

<!--Syllabus-->
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Syllabus"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Syllabus"/>

<!--Semester-wise Syllabus-->
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM3"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM3"/>
            <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM4"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM4"/>
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM5"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM5"/>
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM6"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM6"/>

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_ITnCSEnTEnMAE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_ITnCSEnTEnMAE"/>
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM8_ITnTEnME"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM8_ITnTEnME"/>

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM1"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM1" />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM2"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM2" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM6_CEnENE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM6_CEnENE" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM5_PE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM5_PE" />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM6_PE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM6_PE" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM8_CSE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM8_ITnTEnME" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_ECE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_ECE"/>
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM8_ECE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM8_CSE" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_EEEnEE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_EEEnEE" />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM8_EEEnEE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM8_EEEnEE"/>

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_PE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_PE"/>

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_CE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_CE"/>
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM8_CE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM8_CE"/>

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_ICE"
            android:parentActivityName=".Streams.SubjectWiseSyllabus.SEM7_ICE"/>

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_MT"
            android:parentActivityName=".Streams.SubjectWiseSyllabus.SEM7_MT"/>

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_ME"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_ME" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM7_ENE"
            android:parentActivityName=".Streams.SubjectWiseSyllabus.SEM7_ENE"/>
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM8_ENE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM8_ENE" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SubjectWiseSyllabus.SEM8_PEnMT"
            android:parentActivityName=".Streams.SubjectWiseSyllabus.SEM8_PEnMT"/>


    </application>

</manifest>