<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ipu_trekker.ggsipu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IPU Trekker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.ipu_trekker.ggsipu.CollegeActivity"
            android:label="Colleges"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.HomeActivity" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.StreamActivity"
            android:label="Streams"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.HomeActivity" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.aiactr"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.CollegeActivity" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.amity"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.bp"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.bpit"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.dite"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.dtc"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.bvp"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.gbp"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.gtbit"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.hmr"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.jims"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.mait"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.msit"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Colleges.niit"
            />


        <activity
            android:name="com.example.ipu_trekker.ggsipu.logo"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.HomeActivity" />



        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.IT"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.StreamActivity" />


        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.IT2"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.IT2"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.EE2"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.EE2"
            />


        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM8_MAEnICE" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.MECH2" />


        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.ZCodes"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.StreamActivity"
            />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.ZChooseSemForSyllabus"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.ZChooseSemForSyllabus"
            />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.example.ipu_trekker.ggsipu.Splash" />


        <activity
            android:name="com.example.ipu_trekker.ggsipu.HomeActivity"
            android:label="IPU Trekker"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

<!--Syllabus-->
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Syllabus"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Syllabus"/>

<!--Semester-wise Syllabus-->
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.IT3"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.IT3"/>
            <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.IT4"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.IT4"/>
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.IT5"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.IT5"/>
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.IT6"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.IT6"/>

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.IT7"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.IT7"/>
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.IT8"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.IT8"/>

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM1Syllabus"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SEM1Syllabus" />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM2Syllabus"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SEM2Syllabus" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM6_CEnENE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SEM6_CEnENE" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM5_PE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SEM5_PE" />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM6_PE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SEM6_PE" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM7_CSE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.IT7" />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM8_CSE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.IT8" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM7_ECE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SEM7_ECE"/>
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM8_ECE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SEM8_CSE" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM7_EEEnEE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SEM7_EEEnEE" />
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM8_EEEnEE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SEM8_EEEnEE"/>

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM7_PE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SEM7_PE"/>

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM7_CE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SEM7_CE"/>
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM8_CE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SEM8_CE"/>

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM7_ICE"
            android:parentActivityName=".Streams.SEM7_ICE"/>

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM7_MT"
            android:parentActivityName=".Streams.SEM7_MT"/>

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM7_ME"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SEM7_ME" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM7_ENE"
            android:parentActivityName=".Streams.SEM7_ENE"/>
        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM8_ENE"
            android:parentActivityName="com.example.ipu_trekker.ggsipu.Streams.SEM8_ENE" />

        <activity
            android:name="com.example.ipu_trekker.ggsipu.Streams.SEM8_PEnMT"
            android:parentActivityName=".Streams.SEM8_PEnMT"/>


        <activity android:name="com.example.ipu_trekker.ggsipu.BookList" />

    </application>

</manifest>